<!DOCTYPE html>
<html>
  <head>
    <title>PhotoFaker</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
  </head>
  <body>
    <section id='logIn'>
    <form>
      <input type="email" name="email" required>
      <input type="password" name="password" required>
      <button id="log-in-button">Log In</button>
    </form>
    </section>
    <section class='intro'>
    <h1>Welcome to PhotoFaker!</h1>
    <h2>We are still <br> working on a better name</h2>
    </section>
    <script src="/reload/reload.js"></script>
  </body>
</html>
