html, body {
  height: 100%;
  width:  100%;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../images/photoMemory.jpg);
}

h1,h2 {
  position: fixed;
  font-weight: bold;
  font-size: 2em;
  right: 180px;
  color: white;
  font-family: 'Lobster', cursive;
}

h1 {
  bottom: 160px;
}

h2 {
  bottom: 135px;
}
