html, body {
  height: 100%;
  width:  100%;
  margin: 0;
  padding: 0;
}

h1,h2 {
  position: relative;
  font-weight: bold;
  font-size: 2em;
  right: 180px;
  color: white;
  font-family: 'Lobster', cursive;
  left: 700px;
}

h1 {
  top: 475px;
}

h2 {
  top: 450px;
}

#logIn {
  position: relative;
  float: right;
}

@media only screen and (max-width: 800px) {
  body {
    background-color: lightblue;
  }
}
@media only screen and (min-width: 800px) {
  body {
    background-image: url(../images/photoMemory.jpg);
  }
}
