html, body {
  height: 100%;
  width:  100%;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../images/photoMemory.jpg);
}

h1,h2 {
  position: relative;
  font-weight: bold;
  font-size: 2em;
  right: 180px;
  color: white;
  font-family: 'Lobster', cursive;
  left: 700px;
}

h1 {
  top: 475px;
}

h2 {
  top: 450px;
}
